@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

    <main>
       <div class="wrap">
           <div class="content">
               <article>
                   <h1>About Us</h1>
                   <img src="https://fy2203appdevstoragejec.blob.core.windows.net/image/AboutMe.jpg">
                   <h4>John Evander Castillo</h4>
                   <blockquote>
                       "From craftmanship to industry leaders in sustainable fashion, 
                           we are committed to bringing the world T I M E L E S S pieces that cares 
                           for the environment we live in. We call this perpetual spirit to contribute
                           not only to the masses but to also to the world we call home. Our watches 
                           are built with durable materials to last and so is our contribution to 
                           future generations." <br> We are T I M E L E S S.
                   </blockquote>
                   <p>SIC | PARVIS | MAGNA<br>Great Things from Small Beginnings</p>

               </article>
           </div>
       </div>
    </main>