@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="bodyBg_Dawn">
 <section class="containerDawn">
           <div class="cardDawn">
               <div class="cardDawn-image cardDawn-1"></div>
               <h2>DAWN</h2> 
               <h4>₱5,899</h4>
               <br>
               <p>The watch has a resolutely professional appearance, its redesigned case sporting straight sides and a winding crown guard as well as a subtle line of light along the middle case.</p>
            </div>
            <div class="cardDawn">
                <div class="cardDawn-image cardDawn-2"></div>
                    <li><b> Product Number: </b> #SC1002</li><br>
                    <li><b> Weight: </b> 145g</li><br>
                    <li><b> Height: </b> 22MM </li><br>
                    <li><b> Diameter: </b> 43mm</li><br>
                    <li><b> Thickness: </b> 10mm </li><br>
                    <li><b> Caliber: </b> 3255</li><br>
                    
             </div>
             <div class="cardDawn">
                <div class="cardDawn-image cardDawn-3"></div>
                <li><b> Movement: </b> Japanese quartz movement  </li><br>
                <li><b> Chronograph: </b>Omega Speedmaster</li><br>
                <li><b> Jewel: </b> Pallet  Jewels </li><br>
                <li><b> Case Material: </b>Metal | Rubber</li><br>
                <li><b> Strap Material: </b>Nylon | Leather | Stainless Steel </li>
             </div>
        </section>
        </div>