@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="banner">
    <div class="ContentHomePage">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <h1>NEW | WATCHES | 2022</h1>
        <blockquote>The long awaited top of the line T I M E L E S S pieces have finally arrived!</blockquote>
    </div>
     </div>
 