@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<main>
 <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <a asp-area="" asp-controller="Pages" asp-action="City"><img src="https://fy2203appdevstoragejec.blob.core.windows.net/image/Image3.jpg" class="d-block w-100" alt="Picture of City"></a>
        <div class="carousel-caption d-none d-md-block">
          <h5>C I T Y</h5>
          <p>Best pieces on casual adventures around the streets of the City</p>

          <div class="slider-btn">
              <a asp-area="" asp-controller="Pages" asp-action="City"><button class="btn btn" >Check Product</button></a>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <a asp-area="" asp-controller="Pages" asp-action="Rise"><img src="https://fy2203appdevstoragejec.blob.core.windows.net/image/Image11.jpg" class="d-block w-100" alt="Picture of Mountain"></a>
        <div class="carousel-caption d-none d-md-block">
          <h5>R I S E</h5>
          <p>Perfect company on the vast plains of your journey</p>
          
          <div class="slider-btn">
            <a asp-area="" asp-controller="Pages" asp-action="Rise"><button class="btn btn">Check Product</button></a>
        </div>
        </div>
      </div>
      <div class="carousel-item">
        <a asp-area="" asp-controller="Pages" asp-action="Dawn"><img src="https://fy2203appdevstoragejec.blob.core.windows.net/image/Image13.jpg" class="d-block w-100" alt="Picture of Cliff"></a>
        <div class="carousel-caption d-none d-md-block">
          <h5>D A W N</h5>
          <p>Through ups and downs we've got you covered</p>

          <div class="slider-btn">
           <a asp-area="" asp-controller="Pages" asp-action="Dawn"><button class="btn btn">Check Product</button></a>
        </div>
        </div>
      </div>
      <div class="carousel-item">
        <a asp-area="" asp-controller="Pages" asp-action="Dive"><img src="https://fy2203appdevstoragejec.blob.core.windows.net/image/Image14.jpg" class="d-block w-100" alt="Picture of Sea"></a>
        <div class="carousel-caption d-none d-md-block">
          <h5>D I V E</h5>
          <p>Going deep dive exploration is never a problem</p>

          <div class="slider-btn">
            <a asp-area="" asp-controller="Pages" asp-action="Dive"><button class="btn btn">Check Product</button></a>
        </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</main>