@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<body>
    <div class=bodyBg_NR>
 <section class="container_NR">
           <div class="card_NR">
               <div class="card_NR-image card_NR-1"></div>
               <h2>CITY</h2> <br>
               <h4>₱3,899</h4>
               <br>
               <p>Best pieces on casual adventures around the streets of the City</p><br>
               <li><b> Weight: </b> 129g</li><br>
               <li><b> Height: </b> 22MM </li><br>
               <li><b> Diameter: </b> 40mm</li><br>
               <a asp-area="" asp-controller="Pages" asp-action="City" class="container_NR-btn">Read More</a>
               <br><br><br><br>
        </section>
        </div>
        </body>
