@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class=bodyBg_Rise>
<section class="containerRise">
           <div class="cardRise">
               <div class="cardRise-image cardRise-1"></div>
               <h2>RISE</h2> 
               <h4>₱4,699</h4>
               <p>A companion in Sports, Travels, Adventures and Journey. This watch provides 96% of accuracy on each data you need on your adventures. It has multiple functions that can be useful when exploring the wild. Shock and water proof materials have been used for extreme performance. </p>
            </div>
            <div class="cardRise">
                <div class="cardRise-image cardRise-2"></div>
                    <li><b> Product Number: </b> #SC1001</li><br>
                    <li><b> Weight: </b> 129g</li><br>
                    <li><b> Height: </b> 22MM </li><br>
                    <li><b> Diameter: </b> 40mm</li><br>
                    <li><b> Thickness: </b> 16mm </li><br>
                    <li><b> Caliber: </b> 3159 </li><br>
                    
             </div>
             <div class="cardRise">
                <div class="cardRise-image cardRise-3"></div>
                <li><b> Movement: </b> Mechanical </li><br>
                <li><b> Chronograph: </b>Double</li><br>
                <li><b> Jewel: </b> Hole Jewels </li><br>
                <li><b> Case Material: </b>  Rubber</li><br>
                <li><b> Strap Material: </b>Nylon | Leather</li>
             </div>
        </section>

        </div>