@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class = bodyBg_SC>
 <section class="containerSignatureCollections">
           <div class="card_Rise">
               <div class="card_Rise-image card_Rise-1"></div>
               <h2>RISE</h2> <br>
               <h4>₱4,699</h4>
               <br>
               <p>Perfect company on the vast plains of your journey</p><br>
               <li><b> Weight: </b> 129g</li><br>
               <li><b> Height: </b> 22MM </li><br>
               <li><b> Diameter: </b> 40mm</li><br>
               <a asp-area="" asp-controller="Pages" asp-action="Rise" class="container_Rise-btn">Read More</a>
               
            </div>
            <div class="card_Dawn">
                <div class="card_Dawn-image card_Dawn-2"></div>
                <h2>DAWN</h2> <br>
                <h4>₱5,889</h4>
                <br>
                <p>Through ups and downs we've got you covered</p><br>
                <li><b> Weight: </b> 145g</li><br>
                <li><b> Height: </b> 22MM </li><br>
                <li><b> Diameter: </b> 43mm</li><br>
                <a asp-area="" asp-controller="Pages" asp-action="Dawn" class="container_Dawn-btn">Read More</a>
             </div>
             <div class="card_Dive">
                <div class="card_Dive-image card_Dive-3"></div>
                <h2>DIVE</h2> <br>
               <h4>₱3,599</h4>
               <br>
               <p>Going deep dive exploration is never a problem</p><br>
               <li><b> Weight: </b> 117g</li><br>
               <li><b> Height: </b> 20MM </li><br>
               <li><b> Diameter: </b> 36mm</li><br>
               <a asp-area="" asp-controller="Pages" asp-action="Dive" class="container_Dive-btn">Read More</a>
             </div>
        </section>

        </div>